<ion-view view-title="">
    <ion-header class="padding bar bar-subheader bar-shadow flex">
        <h1 class="left"><span class="h-title">{{'feedback' | translate}}</span></h1>

    </ion-header>


    <ion-content class="feedback has-subheader">

        <form class="list list-inset" ng-controller="ContactCtrl" name="contactList" novalidate>
            <h1 class="item item-divider">{{'opinion' | translate}}</h1>
            <label class="item item-input">
                <input id="feedback-input" type="text" placeholder="{{'topic' | translate}}" ng-model="contact.topic" required>
            </label>

            <label class="item item-input wider">
                <textarea type="text" placeholder="{{'descr' | translate}}" ng-model="contact.description" required rows="10"></textarea>
            </label>

            <input type="submit" class="button button-clear button-block" value="{{'Send' | translate}}" ng-disabled="contactList.$invalid" ng-click="sendFeedback()">
        </form>

    </ion-content>

</ion-view>