<ion-view title="">
    <ion-content class="">
        <div id="map2" data-tap-disabled="true"></div>
        <div ng-show="show" id="legend2"><h3>{{ 'info' | translate}}</h3></div>
        <button class="button button-energized button-small sideButton" ng-model="show" ng-click="show=!show"><i class="icon ion-information-circled"></i> {{ 'info' | translate}}</button>
        <button class="button button-assertive button-small resetButton" ng-click="Reset()"><i class="icon ion-information-circled"></i> Reset</button>
    </ion-content>
</ion-view>