<ion-view view-title="">
  <ion-header class="padding bar my-subheader bar-subheader bar-shadow flex">
    <h1 class="left"><span class="h-title">{{'notes' | translate}}</span></h1>
    <div class="buttons">
      <button class="button button-clear icon-right" ng-click="shouldShowDelete = !shouldShowDelete"><i class="icon ion-minus-circled"></i></button>
      <button class="button button-clear icon-right" ng-click="addNoteClicked()"><i class="icon light ion-plus-circled"></i></button>
    </div>
  </ion-header>
  <ion-content class="has-subheader">
    <ion-list show-delete="shouldShowDelete">
      <ion-item class="item-no-border" ng-repeat="item in Notes | orderBy: 'company'">
           <ion-delete-button id="delete-button" class="ion-minus-circled my_delete_button" ng-click="RemoveNote(Notes.indexOf(item))">
        </ion-delete-button>
        <div class="card card-small">
            <div class="padding strong">
              {{item.company}}
            </div>
            <div class="item-text-wrap padding">{{item.message}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
