<ion-view view-title="">
  <ion-header class="padding bar my-subheader bar-subheader bar-shadow flex">
    <h1 class="left"><span class="h-title">{{'todo' | translate}}</span></h1>
  </ion-header>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item class="item-no-border" ng-repeat="item in toDoList | orderBy:-date">
        <div class="card" ng-click="ToDoClicked($index)">
          <div class="row flexCenterRow">
            <div class="col col-20 big_font flexCenterRow"><i ng-class="{'balanced': item.status == '1', 'assertive': item.status == '2', 'calm':item.status == '0'}" class="icon small_icons ion-ios-circle-filled"></i>
            </div>
            <div class="col">
              <div>
                <span class="strong item-text-wrap">
                            {{item.date | parseDate}} -
                <span ng-switch on="item.type" class="">
                  <span ng-switch-when="0">{{'appointment' | translate}}</span>
                  <span ng-switch-when="1">{{'appointment_call' | translate}}</span>
                  <span ng-switch-when="2">{{'appointment_internet' | translate}}</span>
                  <span ng-switch-when="3">{{'appointment_mail' | translate}}</span>
                  <span ng-switch-when="4">{{'appointment_meeting' | translate}}</span>
                  <span ng-switch-when="5">{{'appointment_other' | translate}}</span>
                </span>
                </span>
                <div class="padding">
                  {{item.company}} - {{item.name}}
                </div>
                <div class="padding">{{item.note}}<span class="item-note">{{ 'notes' | translate}}</span></div>
                <div class="padding">{{item.next_step}}<span ng-class="{'balanced' : item.next_step_completed == '1'}" class="item-note">{{ 'next_step' | translate}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
